# Ignorar arquivos temporários e de cache
__pycache__/
*.pyc
*.log
.DS_Store
.ipynb_checkpoints/

# Ignorar o ambiente virtual
venv/

# Ignorar arquivos de tracking desnecessários
*.pkl
*.parquet

# Se você quiser versionar esses diretórios abaixo, COMENTE ou REMOVA as linhas:
# data/raw/
# data/processed/
# models/
# mlruns/
